:root {
  --button-bg-color: red;
  --button-fr-color: white;
  --button-hover-color: lightpink;
}

input {
  padding: 8px 12px;
  border: 1px solid;
  font-size: 14px;
}

button {
  padding: 8px 12px;
  border: 1px solid var(--button-bg-color);
  background-color: var(--button-bg-color);
  color: var(--button-fg-color);
}

button:hover {
  background-color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
}
