.hidden {
  display: none;
}

.row-distribute-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.column-distribute-items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
